/*--->Reset de estilos<---*/
*,*::before,*::after,html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img {
	display: block;
}
/*--->Variables<---*/
:root {
    /*scroll*/
    scroll-behavior: smooth;

    /*fuentes*/
	--font-family-sans:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--heading-font: 'Open Sans', sans-serif;
	--body-font: Lato, sans-serif;
	--font-family-consola: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

	/*medidas de z-index*/
	--z-back:-10;
	--z-normal:1;
	--z-tooltip:10;
	--z-fixed:100;
	--z-modal:1000;

	/*Colores principales*/
	--color-primary:#343a40;
	--color-primary-transparent:#343A40BB;
	--color-secondary:#505962;
	--body-bg:#252525;

	/*Colores de degradado para lineas o contornos*/
	--color-A:#0747a6; 
	--color-B:#0065ff;
	--color-C:#4c9aff;
	--color-D:#b3d4ff;
	--color-E:#deebff;

	/*Colores para texto*/
	--color_nav-text:#fff;
	--color-title:#2a3b47;
	--color-text-item:#fff;

	/*Tamaños de fuentes*/
	--big-font-size: 3.5rem;
	--h1-size:2.25rem;
	--h2-size:1.75rem;
	--h3-size: 1.25rem;
	--h4-size:1.10rem;
    --note-font-size:1.2rem;
	--normal-font-size: 1.1rem;
	--small-font-size: 0.92rem;

	/*Separación*/
	--m-b:20px;
}

/*--->Contenido del sitio<---*/
#body {
	background-color:var(--body-bg);
	font-family: var(--body-font);
}

#header {
	margin-bottom: var(--m-b);
}

/*-Nav-*/
.nav {
	background-color:greenyellow;
	color:var(--color-text-item);
	font-family: var(--heading-font);
	font-size: var(--h2-size);
	height: 70px;
}

.nav_list {
	display: flex;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
}

.nav_item {
	background-color: red;
}

.nav_item-link {
	text-decoration: none;
}


.section {
	width: 95%;
	margin:0 auto;
}

.container {
	width: 90%;
	margin:0 auto;
	padding:5px;
	margin-bottom: var(--m-b);
}

/*slider*/
.slide {
	position: relative;
	background-color: lightblue;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 50px 5px rgba(209, 68, 234,0.8);
}
.slide_img {
	background-image:url(../assets/slider/img_4.webp);
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content:center;
	align-items:flex-end;
}
.slide_text {
	font-family: var(--font-family-sans);
	position: absolute;
	bottom: 10px;
	color: #deebff;
	font-size: 3rem;
	background-color: rgba(209, 68, 234, 0.6);
	padding:12px;
	box-shadow: 0 0 10px 5px rgba(209, 68, 234,0.8);
}
/*Cards*/
.container--card {
	height: 600px;
	display: flex;
	justify-content: space-evenly;
}

.card {
	background-color: #fff;
	width: 24%;
	height: 400px;
	padding: 15px 5px;
	border-radius: 5%;
	border:5px solid var(--color-C);
	transition:all .25s ease-in-out;
	position: relative;
}

.card:hover {
	box-shadow: 0 0 20px 7px var(--color-C);
	transform: translatey(-10px);
}

.card:hover .card_img {
	box-shadow: 0 0 10px 3px rgba(209, 68, 234, 0.6);
}

.card_content {
	width:95%;
	margin:0 auto;
	height: 100%;
}

.card_img {
	width: 100%;
	height: 60%;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 15px;
}

.card_title {
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: var(--h3-size);
	font-weight:600;
	padding:0 2px 2px;
}

.card_text {
	margin-left: 10px;
	font-size: var(--normal-font-size);
	margin-bottom: 10px;
}

/*Botón btn button*/
.btn {
	background-color: var(--color-B);
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	color: var(--color-text-item);
	transition:all .25s ease-in-out;
	position: absolute;
	bottom: 20px;
	right: 15px;
}

.btn:hover {
	background-color: var(--color-A);
}

/*--->Footer<---*/
#footer {
	height: 100px;
	background: linear-gradient(0deg, var(--color-title) 0%,var(--body-bg) 90%);
	display: flex;
	color:var(--color-text-item);
	justify-content: center;
	align-items: center;
	position: relative;
}

.footer_text {
	position: absolute;
	bottom: 4vh;
	text-decoration: none;
	color:inherit;
}